<!DOCTYPE html>
<html>
<head>
<title>
Welcome Admin
</title>
</head>
<body align="center">

<h1> Welcome </h1>
<form class="form1" action="/admin_bus">
<input type="submit" value="Add Bus">
</form><br>
<form class="form2" action="/admin_add_bus">
<input type="submit" value="Add Service">
</form><br>
<form class="form3" action="/admin_delete_bus">
<input type="submit" value="Delete busses">
</form><br>
<form class="form5" action="/admin_delete_service">
<input type="submit" value="Delete Services">
</form><br>
<form class="form4" action="/admin_edit_bus">
<input type="submit" value="Edit details of busses">
</form>
</body>

</html>