<html>  
<body align="center">  
 
<form>
<h1> welcome to Booking page</h1>
Name: <input type="text" name="name"> <br><br>
Email id:<input type="text" name="email"><br><br>
Age: <input type="number" name="age"><br><br>
Password: <input type="password" name="password"><br><br>

<label name="gender" id="gender">Gender:</label>
<input type="radio" id="male" name="gender" value="male">
  <label for="male">Male</label>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">Female</label>
  <input type="radio" id="other" name="gender" value="other">
  <label for="other">Other</label><br><br>
 
No of seats: <input type="number" name="seats<br><br>
Account number: <input type="number" name="Account"><br><br>
Cvv : <input type="number" name="age"><br><br>
<input type="submit" value="Submit">  
</form>   
</body>  
</html>