<html>  
<body align="center">  
 
<form method="POST" action="/bussearch">
<hl>Welcome</h1> <br><br>
<label for="start">Choose start point:</label>

<select id="start" name ="start">
  <option value="Hyderabad">Hyderabad</option>
  <option value="vijayawada">vijayawada</option>
  <option value="guntur">guntur</option>
  <option value="chennai">chennai</option>
  <option value="Bhimavaram">Bhimavaram</option>
</select><br><br>

<label for="end">Choose start point:</label>

<select id="end" name ="end">
  <option value="Hyderabad">Hyderabad</option>
  <option value="vijayawada">vijayawada</option>
  <option value="guntur">guntur</option>
  <option value="chennai">chennai</option>
  <option value="Bhimavaram">Bhimavaram</option>
</select><br><br>

Start Date: <input type="date" id="sdate" name="sdate" required><br><br>

<input type="submit" value="Search">
</form>
   
</body>  
</html>