<!DOCTYPE html>
<html>
<head>
<title>
Main page
</title>
<style>
 body{
  background-color: lightblue;
  }
</style>
</head>
<body align="center">

<h1> Welcome to Bus Booking App</h1>

<form class="form"  action="/login_user">
<input type="submit" onclick="myFunction()" value="Login">
</form> <br>
<form class="form2" action="/signin_user">
<input type="submit" onclick="myFunction1()"value="Register">
</form>
</body>
<script>
function myFunction() {
  alert("Welcome to login page");
}
function myFunction1() {
  alert("Welcome to Registration page");
}
</script>
</html>